{% extends 'base.html' %}


{% block title %}
{{article.title}}
{% endblock title %}


{% block body %}
<main>
    <section>
        <center>
            <h2>{{article.title}}</h2>
            <small>{{article.created_date}}</small>
        </center>
        <div style="display:flex; justify-content:space-between;">
            <p style="width:300px;">{{article.content}}</p>
            {% if article.article_image %}
            <img style="width:400px; height:300px;" src="{{article.article_image.url}}">
            {% endif %}
        </div>
    </section>

    {% if comments %}

    
    <center>
        <h2>Comments:</h2>
    </center>
    {% for comment in comments %}
    <div>
        <div class="show__comment">
            <h3>Name: {{comment.comment_author}}</h3>
            <small>{{comment.comment_date}}</small>
            <p>Comment: {{comment.comment_content}}</p>
            <hr>
        </div>
    </div>
    {% endfor %}
        
    {% else %}
    <div class="messageDanger">This article has not been commented !!!</div>
    {% endif %}

    <div class="comment">
        <form method="POST" action="{% url 'article:comment' article.id %}">
            {% csrf_token %}
            <center>
                <p>Give feedback: </p>
            </center>
            <label for="">Name:</label>
            <input name="comment_author" type="text"><br>
            <label for="">Your Comments</label>
            <textarea style="resize:none" name="comment_content" id="" cols="108" rows="5"></textarea>
            <button id="card__btn" type="submit">Share</button>
        </form>
    </div>
</main>

<style>
    body {
        font-size: 16px;
        line-height: 1.5;
    }

    main {
        margin: 20px;
    }

    section {
        border-style: dashed;
        padding: 10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    small {
        font-size: 14px;
        color: #777;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>
{% endblock body %}