{% extends 'base.html' %}


{% block title %}
{{article.title}}
{% endblock title %}


{% block body %}
<main>
    <section>
        <center>
            <h2>{{article.title}}</h2>
            <small>{{article.created_date}}</small>
        </center>
        <div style="display:flex; justify-content:space-between;">
            <p style="width:300px;">{{article.content}}</p>
            {% if article.article_image %}
            <img style="width:400px; height:300px;" src="{{article.article_image.url}}">
            {% endif %}
        </div>
    </section>
</main>

<style>
    body {
        font-size: 16px;
        line-height: 1.5;
    }

    main {
        margin: 20px;
    }

    section {
        border-style: dashed;
        padding: 10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    small {
        font-size: 14px;
        color: #777;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>
{% endblock body %}