{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    <!-- My Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Logo -->
    <link rel="shortcut icon" href="https://cdn.worldvectorlogo.com/logos/django.svg" type="image/x-icon">


</head>

<body>
    <div class="navbar">
        <div class="navbar__image">
            <img src="https://images.chesscomfiles.com/uploads/v1/article/27319.746c2259.5000x5000o.5f1afccd859f.png">
        </div>
        <div class="navbar__txt">
            <ul>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'article:articles' %}">Articles</a>
                </li>
                <li>
                    <a href="{% url 'article:dashboard' %}"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="{% url 'user:logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'article:articles' %}">Articles</a>
                </li>
                <li>
                    <a href="{% url 'user:register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'user:login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>

    <style>
        .messageSuccess {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
            text-align: center;
            padding: 10px;
        }

        .messageDanger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            text-align: center;
            padding: 10px;
        }

        #logintext {
            text-align: center;
            font-size: 20px;
        }
    </style>

    {% if request.user.is_authenticated %}
    <p id="logintext">Welcome {{request.user.username}}</p>

    {% else %}
    <p id="logintext">Dont Login !!!`</p>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'info' %}
    <div class="messageDanger {{message.tags}}">{{message}}</div>

    {% else %}
    <div class="messageSuccess {{message.tags}}">{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}