{% extends 'base.html' %}
{% load static %}

{% block body %}
<center>
    <h1>HOME PAGE 2</h1>

    <div class="yoxlama">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae deleniti amet nam laudantium, ad sed
            fugit sequi pariatur ullam laboriosam dolore numquam atque temporibus a autem omnis dignissimos aperiam in!
            Eos reiciendis nostrum accusamus tenetur modi aliquam quasi corrupti a nesciunt eius perspiciatis,
            praesentium ducimus maxime enim molestias cupiditate, mollitia qui ea? Laboriosam minus consequatur
            voluptates, quod alias inventore necessitatibus quas corporis quos itaque ea iusto excepturi enim tenetur
            eligendi fugit cumque incidunt maxime temporibus id quia. Modi voluptatum magni exercitationem iusto vel
            totam nesciunt provident laudantium optio ullam ad omnis iure laboriosam nam quod beatae eius, pariatur
            voluptatibus atque repellendus? Cumque, ea perspiciatis similique consectetur reiciendis quidem facilis
            earum iusto amet, nemo laudantium. Error neque dolorem modi? Quod dolore vero molestias ipsum nihil neque
            quas natus nam at velit nobis porro cum repudiandae veritatis, omnis veniam delectus pariatur earum error
            expedita esse inventore fugit ratione. At, beatae, adipisci veritatis culpa quaerat perspiciatis ex impedit,
            veniam rerum atque quibusdam blanditiis cupiditate quas repellat reiciendis laboriosam suscipit
            reprehenderit facere doloribus rem. Voluptatem tempore odio rerum aliquam quos quas ea reiciendis suscipit
            sequi molestias, quo minus sit similique, ducimus cum totam consectetur sint voluptas quisquam repellendus
            vitae soluta magnam provident. Repellat, illo?</p>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="https://images.chesscomfiles.com/uploads/v1/article/27319.746c2259.5000x5000o.5f1afccd859f.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/230104173032-02-chess-stock.jpg?c=original"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.chesscomfiles.com/uploads/v1/article/27319.746c2259.5000x5000o.5f1afccd859f.png"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</center>

{% endblock body %}